.container {
  width: 100%;
  height: 100vh; /* Use 100vh to make it fill the full viewport height */
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.android-small1 {
  width: 100%;
  height: 640px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.rectangle1 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  position: absolute;
  background: rgba(207, 39, 39, 0.73);
}
.rectangle2 {
  top: 174px;
  left: 0px;
  width: 360px;
  height: 466px;
  position: absolute;
  border-radius: 30px 30px 0px 0px;
  background: #f8f8f8;
}
.text {
  top: 294px;
  left: 45px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text02 {
  top: 212px;
  left: 45px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text04 {
  top: 79px;
  left: 132px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.email-input {
  top: 274px;
  left: 45px;
  width: 282px;
  height: 1px;
  position: absolute;
}
.password-input {
  top: 356px;
  left: 45px;
  width: 282px;
  height: 1px;
  position: absolute;
}
.btn-login {
  top: 390px;
  left: 61px;
  width: 239px;
  height: 51px;
  position: absolute;
  border-radius: 40px;
  background: rgba(207, 39, 39, 0.73);
  border: none;
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-style: Semi Bold;
  font-family: Inter;
}

.text06 {
  top: 401px;
  left: 148px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text08 {
  top: 461px;
  left: 107px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text09 {
  color: rgba(0, 0, 0, 1);
}

.horizontal-line-input {
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  font-size: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  width: 75%;
  transform: translateY(-15px);
}

.text-link {
  color: rgba(189, 37, 37, 0.73);
}
